# Python built-in Data Structures, Functions, Managing Files

[raw] In this notebook we are going after different kinds of built-in data structures (not the one you typically you use when working with libraries like numpy, pandas, and etc.

## Data Structures

### Tuple

A tuple is just like a list that is fixed in length and can't be changed, once you created one you can't either change it's values or adding anything to it.

In [2]:
sample_tuple = (11, 3, 4, 34)
sample_tuple

(11, 3, 4, 34)

Defining tuples within a tuple (nested tuples)

In [3]:
sample_nested_tup = ((4, 5, 6), (7, 8))
sample_nested_tup

((4, 5, 6), (7, 8))

Changing other python objects to tuple

In [4]:
tuple([10, 33, 65])

(10, 33, 65)

In [7]:
my_tuple_name = tuple('Reza')

Indexing in a tuple

In [8]:
my_tuple_name[0]

'R'

In [10]:
my_tuple_name[-1]

'a'

In [11]:
my_tuple_name[1]

'e'

In [12]:
combined_tuple = ('Reza', [1, 3 ,5], False)

In [16]:
combined_tuple[1][1]

3

If you had a mutable object within a tuple, you can change it in place (like lists, dictionaries, etc)

In [17]:
combined_tuple[1][1] = 6

In [19]:
combined_tuple[1].append(11)

In [20]:
combined_tuple

('Reza', [1, 6, 5, 11], False)

Some logical operations on tuples

In [21]:
(1, 3, 4) + (False, True) + tuple('String')

(1, 3, 4, False, True, 'S', 't', 'r', 'i', 'n', 'g')

In [23]:
tuple('123') * 8

('1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3')

#### unpack a tuple

In [24]:
tup_unpacking = (4, 3, 1, True)
a, b, c, d = tup_unpacking

In [25]:
d

True

In [26]:
a

4

In [27]:
b

3

In [28]:
tup_1 = (1, 2, ('x', 'y'))

In [29]:
q, w, (z, h) = tup_1

In [30]:
h

'y'

We also iterate over sequences of tuples

In [31]:
seq_tuple = [(1, 2, 3), (4, 5, 6), ('x', 'y', 'z')]

In [33]:
for a, b, c, in seq_tuple:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=x, b=y, c=z

advancing with unpacking

In [38]:
tup_unpacking

(4, 3, 1, True)

In [39]:
k, l, *other =  tup_unpacking

In [40]:
k

4

In [41]:
l

3

In [42]:
other

[1, True]

In [44]:
# many developers use _ for unwanted values
k, l, *_ = tup_unpacking

#### Useful tuple methods

To counts the number of occurrences of a value

In [45]:
tup_2 = 1, 3, 3, 3, 4, 4, 4, 4, 6, 6        # Tuples can also describe like this

In [46]:
tup_2

(1, 3, 3, 3, 4, 4, 4, 4, 6, 6)

In [47]:
type(tup_2)

tuple

In [48]:
tup_2.count(6)

2

To see how many items is inside the tuple

In [49]:
len(tup_2)

10

### List